body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-right: 0%;
    overflow-x: hidden; 
    font-family: Arial, Helvetica, sans-serif;
}

.hotel{
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: 1s;
}

.hotel:hover{
    box-shadow: 8px 3px 5px 0px grey;
}

.hotel img{
    border-radius: 10px;
    margin-top: 10px;
    height: 200px;
    width: 90%;
    transition: 0.5s;
}

.hotel img:hover{
    height: 250px;
    cursor: pointer;
}


.hotel h2 {
    font-size: 18px;
    color:#12989B;
}

.hotel ul{
    list-style:inside;
    text-align: left;
}

#titulo{
    background-color: cadetblue;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

#banner{
    position: relative;
    margin: 0%;
    margin-bottom: 0%;
    padding: 0%;

}

#banner img{ 
    width: 100%;
    margin-bottom: 0%;
}

#banner p{ 
    position: absolute;
    top: 10px;
}

#rodape{ 
    background-color: cadetblue;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    width: 100%;
}   

.linkedin{
    width: 25px;
}

@media (min-width: 900px){

    #corpo{
        margin: 0 auto;
    }

    #banner img{ 
        width: 100%;
        height: 500px;
        margin-bottom: 0%;
    }

    .hotel img{
        margin: 0px;
        width: 25%;
        display: inline-block;    
    }

    .hotel ul{
        display: inline-block;
    }

}

